{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid jumbo_5">
    <div class="container">
      <h1 class="heading-primary">Our Blogs</h1>
      <p class="sub-heading"></p>
    </div>
  </div>
{% for post in posts %}
<div class="blog-list">
    <h2 class="blog-heading">
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p class="heading-tertiary">
        Published {{ post.published }} by {{ post.author }}
    </p>
    </div>
    <div class="blog-list-text">
        {{ post.body|truncatewords:30|linebreaks }}
    </div>
{% endfor %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}