{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid jumbo_1">
    <div class="container">
        <h1 class="heading-primary">shirts 4 u</h1>
        <p class="sub-heading">coolest t-shirts in the world</p>
    </div>
</div>

    {% if messages %}
    {% for message in messages %}
    <div class="lead alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

<h2 class="heading--secondary">Featured products</h2>
<section class="featured-section container">
    <div class="row">
<div class="col-sm-4">
        <img class="img-fluid feature_img" src="{% static 'img/Astronaut_300x300.jpg' %}">
        <div class="feature-btn">
            <a href="{% url 'shop' %}" class="feature_link">all Products</a>
        </div>
</div>
<div class="col-sm-4">
        <img class="img-fluid feature_img" src="{% static 'img/Astronaut_300x300.jpg' %}">
        <div class="feature-btn">
            <a href="{% url 'shop' %}" class="feature_link">all Products</a>
        </div>
</div>
<div class="col-sm-4">
        <img class="img-fluid feature_img" src="{% static 'img/Astronaut_300x300.jpg' %}">
        <div class="feature-btn">
            <a href="{% url 'shop' %}" class="feature_link">all Products</a>
        </div>
</div>
</div>
</div>
</section>

<section class="about-section container-fluid">
    <h2 class="heading--secondary">The big shout out</h2>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <p class="text-justify landing-text">Shout-out to the T-shirts and vests in our wardrobes 
                for being the most wearable pieces going. 
                Live in logos by copping styles 
                from adidas Originals and Fred Perry, 
                or check out our very own designed 
                T-shirts for both bold prints and 
                investment multipacks.
            </p>
            <div>
            <a href="{% url 'shop' %}" class="btn--about">Grab your t-shirts today!</a>
            </div>
        </div>
    </div>
</section>

<section class="blog-section container">
    <h2 class="heading--secondary">Read our blogs</h2>
    <div class="row justify-content-center">
        <div class="col-md-12">
        <a class="blog-landing-link" href="{% url 'blog' %}"><img src="{% static 'img/blog-home.jpg' %}" alt="" class="blog-landing-img img-fluid"></a>
        </div>
    </div>
</section>
{% endblock %}