/*

In the css file i have split up all the styles into sections
for example all the buttons with buttons.
This is to make finding and changing any styles easier.

*/


    /*  Base CSS   */

html{
    font-size: 62%;
}

body{
    box-sizing: border-box;
    color: #344;
    background-color: #eee;
    overflow-x: hidden;
    font-size: 1.6;
}

.force{
    width: 75%;
    padding: 5rem;
    margin: 10rem;
}

footer{
    height: 30vh;
    background-color: #344;
    margin-top: 3rem;
    padding: 2rem;
}

.copyright{
    font-size: 1.6rem;
    color: #eee;
    text-align: center;
    padding: 2rem;
    display: inline-block;
    margin: 0 auto;
    width: 80%;
}

    /* Navs and Navbar */

.navbar ul li a{
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 5rem;
}

.navbar-brand{
    font-size: 2rem;
}

.navbar-toggler{
    font-size: 2.5rem;
}

.sidebar {
    font-size: 2rem;
    color: #344;
    transition: all .2s;
}

.sidebar ul{
    list-style-type: none;
    transition: all .2s;
}

.sidebar li{
    padding: 0.2rem;
    margin: 0.5rem;
    transition: all .2s;
}

.sidebar a{
    color: #344;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: all .2s;
}

.sidebar a:hover{
    color: green;
    transform: translateY(-.5rem);
    text-shadow: 0 1rem 3rem rgba(0,0,0, .5);
}

.sidebar a:active{
    transform: translateY(.2rem);
    text-shadow: 0 2rem 4rem rgba(0,0,0, .2);
}

.footer_nav{
    font-size: 1.6rem;
    padding: 2rem;
    display: inline-block;
    list-style: none;
}

.footer_item{
    display: inline-block;
}

.footer_item:not(:last-child){
    margin-right: 1.2rem;
}

.footer_link:visited {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 1rem;
}

.footer_link:hover{
    color: #eee;
    text-decoration: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
}

    /* Typography for the website headings and fonts */

.heading-primary{
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sub-heading{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 5rem;
    position: absolute;
    left: 47%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.heading--secondary{
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 5rem; 
}

.heading-tertiary{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5rem;
}

.blog-heading{
    font-size: 4rem;
    font-weight: 500;
    color: #344;
    padding: 1rem;
    margin: 3rem;
}

.blog-heading a:hover {
    text-decoration: none;
    color: #5a5;
}

.blog-list-text{
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.landing-text{
    font-size: 1.7rem;
}

.product-heading{
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1.5rem;
}

.product-text{
    font-size: 1.6rem;
    padding: 1rem;
}

.product-price{
    font-size: 1.6rem;
    padding: 1rem;
}

.post-text{
    font-size: 1.7rem;
    text-align: center;
}

.blog-detail-text{
    font-size: 1.6rem;
}

    /* Sections of the landing page */

.featured-section{
    padding: 10rem 0;
    position: relative;
}

.featured-section:hover .feature_img{
    opacity: 0.3;
}

.featured-section:hover .feature-btn{
    opacity: 1;
}

.about-section{
    padding: 10rem 0;
    background-image: linear-gradient(to bottom left,
    rgba(209,209,209, 1), 
    rgba(182,182,182, 0.6));
    -webkit-clip-path: polygon(0 6%, 100% 1%, 100% 95%, 0% 100%);
    clip-path: polygon(0 6%, 100% 1%, 100% 95%, 0% 100%);
}

.blog-section{
    padding: 10rem 0;
}

/*
    Jumbotron css for all the jubotrons
*/

.jumbo_1{
    height: 70vh;
    background-image: linear-gradient(to bottom left,
    rgba(209,209,209, 0.7), 
    rgba(194,201,196, 0.9)), 
    url(../img/t-shirts-home.jpg);
    background-size: cover;
    position: relative;
}

.jumbo_2{
    height: 70vh;
    background-image: linear-gradient(to bottom left,
    rgba(209,209,209, 0.7), 
    rgba(194,201,196, 0.9)), 
    url(../img/believe-shop-list.jpg);
    background-size: cover;
    position: relative;
}

.jumbo_3{
    height: 30vh;
    position: relative;
}

.jumbo_4{
    height: 20vh;
    position: relative;
}

.jumbo_5{
    height: 50vh;
    background-image: linear-gradient(to bottom left,
    rgba(209,209,209, 0.7), 
    rgba(194,201,196, 0.9)), 
    url(../img/dawn-3846778_640.jpg);
    background-position: bottom;
    background-size: cover;
    position: relative;
}

.jumbo_6{
    height: 40vh;
    position: relative;
}

.jumbo_7{
    height: 20vh;
    position: relative;
}

/*

This part is for all the buttons to the website.

*/

.btn--about{
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    margin: 6rem auto;
    display: block;
    border-radius: 10rem;
    transition: all .2s;
    background-color: rgba(30, 196, 15, 0.068);
    color: #344;
}

.btn--about:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    text-decoration: none;
    color: #344;
}

.btn--about:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
}

.feature-btn{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;  
}

.feature_link{
    background-color: #fff;
    color: #344;
    font-size: 1.2rem;
    padding: 1.5rem 1.4rem;
    border-radius: 10rem;
    text-transform: uppercase;
}

.feature_link:hover{
    background-color: #8c7;
    color: #eee;
    text-decoration: none;
}

/*  PRODUCT CARDS AND ITEMS cart on product list template */

.item{
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    transition: all .4s;
    border-radius: 3px;
}

.item:hover{
    transform: translateY(-1rem) scale(1);
    box-shadow: 0 2rem 3rem rgba(0,0,0, .6);
}

.list_cart{
    font-size: 1.7rem;
    text-align: center;
    font-weight: bolder
}

.list-cart_link{
    text-decoration: none;
    color: #344;
}

.list-cart_link:hover{
    text-decoration: none;
    color: #5a5;

}

.list-cart_link:visited{
    color: red;
    text-decoration: underline;
}

    /* Images for the website */

.product-image{
    width: 100%;
    height: auto;
    border-radius: 3px;
    display: block;
}

.product-img_detail{
    width: 20%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

.feature_img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.blog-landing-img{
    display: block;
    width: 85%;
    margin: 0 auto;
    border-radius: 3px;
}

/* For all the forms of the website */

.product-quanity{
    font-size: 1.6rem;
    padding: .5rem;
    margin: .8rem;
}

.register-form{
    font-size: 1.6rem;
}

.register-form legend{
    font-size: 3.5rem;
}

.reg-small{
    font-size: 1.8rem;
    padding: .5rem;
    margin-top: 2rem;
}

/*  form validation     */

.alert{
    font-size: 2.5rem;
    text-align: center
}


/*  Blog styles for blog list and blog detail pages    */

.blog-list{
    text-align: center;
}

.date{
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem;
}

/*  Pagination styles */

.pagination{
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem;
    margin: 3rem;
}

.step-links{
    text-align: center;
}